* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #02080e;
}

/* Header */
header {
    background-color: #bb8f0d;
    color: rgb(21, 9, 9);
    padding: 25px;
    text-align: center;
}

/* Menu */
nav {
    background-color: #444;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #604ec5;
}

/* Content */
.content {
    background-color: rgb(202, 79, 171);
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(223, 218, 218, 0.1);
}

/* Image */
.profile-img {
    width: 160px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

input[type="submit"] {
    background-color: #222;
    color: rgb(247, 245, 245);
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #756868;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}